node_modules/
dist/
.*/**
!.github/
!.github/**
*.und/**
wma.config.json
wma.local.json
output/
testexamples/
auxiliary-scripts/
*.log

*.md
!README.md
.ai_refs/
release/
wolfram/FormulaTransformEngine/build/
build.wls
